<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.s6industries.myapplication">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.HelloWorld"
            android:value="com.s6industries.myapplication.HelloWorld" />
    </application>
</manifest>